body {
  text-align: center;
  font-family: sans-serif;
}
h1 {
  color: #0066cc;
}
.numeros-sorteados {
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #0066cc;
  border: none;
  cursor: pointer;
}
